*{
    padding: 0
    margin: 0;
    box-sizing: border-box;

}


body {
background-color: oklch(67.035% 0.17867 149.208);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    width: 100vw;
    margin: 10px;
    gap: 10px;
    padding: 10px;
    

}
.conteiner {
    background-color: oklch(42.747% 0.1351 268.671);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    height: 50vh;
    width: 80vw;
    margin: 10px;
    gap: 10px;
    padding: 10px;
    
    

}
h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}


img {
    border-radius: 30%;
    background-color: rgba(6, 20, 144, 0.514);
    justify-items:first baseline;
    align-items:end;
    flex-direction: column;
}
.content_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

h2 {
    color: chocolate;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}